# .coveragerc to control coverage.py
[run]
branch = True
include = */randomgen/*
omit =
    */_version.py
    *.pxd
    */_write_hashes.py
plugins = Cython.Coverage

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    except NotImplementedError
    except RuntimeError
    raise NotImplemented\(\"subclasses must implement\"\)
    # Ignore pass
    pass
    # Ignore failure messages
    pytest.xfail
    # Ignore ImportError protection
    except ImportError
    raise ImportError
    # Cython function declarations
    cdef
    cdef inline
    ctypedef
    # Ignore dummy thread
    from dummy_threading import Lock

include = */randomgen/*
omit =
    */_version.py
ignore_errors = True
