.hypothesis/
.idea/
.vscode/
build/
*.egg-info/
*.pyd
*.pyc
*.html
*.obj
*.exe
**/Random123
settings.json
*.so
randomgen/_version.py
randomgen/bounded_integers.pyx
randomgen/bounded_integers.pxd
randomgen/*.c
randomgen/tests/*.c
randomgen/legacy/bounded_integers.c
randomgen/legacy/bounded_integers.pyx
randomgen/legacy/bounded_integers.pxd
doc/build
doc/**/generated
