[build-system]
requires = [
    "packaging>=21.0; platform_machine=='arm64'",
    "setuptools",
    "wheel",
    "Cython>=0.29.24,<3.0",
    "oldest-supported-numpy",
    "numpy; python_version>='3.11'",
    "setuptools_scm[toml]>=6.4.2,<7.0.0",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "randomgen/_version.py"
