[build-system]
requires = [
    "packaging>=21.0",
    "setuptools",
    "wheel",
    "Cython>=0.29.24,<4",
    "oldest-supported-numpy",
    "numpy; python_version>='3.12'",
    "setuptools_scm[toml]>=8.0.0,<9.0.0",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "randomgen/_version.py"
