# Build
meson-python
ninja
meson
cython>=3.0.10
# Testing
pytest>=7
pytest-cov
pytest-xdist
scipy>=1.13.1
# Lint
black[jupyter]~=25.9.0
isort~=5.0
setuptools_scm[toml]>=9.2.0,<10
ruff
flake8
flake8-pyi
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
