numba>=0.49
nbsphinx
sphinx-immaterial
sphinx>=5
ipython>=6
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability